<div class="login_bg">
  <div class="d-flex h_100">
      <div class="login_content justify-content-center align-items-center justify-content-lg-end" >
          <div></div>
          <div class=" me-lg-5 pe-lg-5">
            <div class="">
              <img src="../../../../assets/img/icon/OK$%20logo%20.svg" class="me-3" alt="" style="width: 120px">
              <h3 class="d-inline-block fw-bolder fs-1" style="color: #224193">One Stop Mart</h3>
            </div>
            <form action="" [formGroup]="login_form" (ngSubmit)="login()">
              <div class="login-wrapper">
                <div class="d-flex position-relative">
                  <input type="text" placeholder="User Name" autocomplete="off" cdkAutofill="off" formControlName="user_name">
                  <div class="input_image_box">
                    <img src="../../../../assets/img/icon/user.png" alt="" style="width: 20px;">
                  </div>
                </div>
                <div class="position-relative text-center" style="margin-top: 30px;">
                  <div class="input_image_box">
                    <img src="" alt="" style="width: 20px;">
                  </div>

                  <input type="password" placeholder="Password" autocomplete="off" formControlName="password"/>
                  <div class="input_image_box">
                    <img src="../../../../assets/img/icon/password.svg" alt="" style="width: 20px;">
                  </div>
                </div>
                <div class="forgot_password">
                  <a routerLink="/auth/forgot-password">Forgot Password ?</a>
                </div>

                <div class="check_box">
                  <mat-checkbox class="remember_me text-white">Remember Me</mat-checkbox>
                </div>
                <div style="text-align: center;margin-top: 20px;">
                  <button type="submit" class="login_btn" >LOGIN</button>
                </div>
              </div>
            </form>
          </div>
      </div>
  </div>
</div>
