<div class="login_bg">
  <div class="d-flex h_100">

      <div class="login_content justify-content-center align-items-center justify-content-lg-end" >
            <div><!-- *ngIf="!otp_page"-->
                <div class=" me-lg-5 pe-lg-5">
                    <div class="">
                        <img src="../../../../assets/img/icon/OK$%20logo%20.svg" class="me-3" alt="" style="width: 120px">
                        <h3 class="d-inline-block fw-bolder fs-1" style="color: #224193">One Stop Mart</h3>
                    </div>
                    <form action="" [formGroup]="form">
                      <div class="login-wrapper">
                        <div class="forgot_password">
                          <a class="text-decoration-none">Forgot Password ?</a>
                        </div>
                        <div class="d-flex position-relative">
                            <input type="text" placeholder="User Name" autocomplete="off" cdkAutofill="off" formControlName="user_name">
                            <div class="input_image_box">
                              <img src="../../../../assets/img/icon/user.png" alt="" style="width: 20px;">
                            </div>
                        </div>
                        <div style="text-align: center;margin-top:45px;position: relative;">
                            <span class="number_prefix">+95 09</span>
                            <input type="text" placeholder="XXXXXXXXXX" formControlName="mobileNumber" class="number_input" minlength="9" maxlength="11" (keyup)="formValidation()"/>
                            <div class="input_image_box">
                                <img src="../../../../assets/img/icon/password.svg" alt="" style="width: 20px;">
                            </div>
                        </div>
                        <div style="text-align: center;margin-top: 20px;" *ngIf="otp_form_valid">

                       <button class="login_btn" class="login_btn" (click)="otp_page=true">REQUEST OTP</button>
                        </div>
                        <div style="text-align: center;margin-top: 20px;" >
                            <button class="login_btn" (click)="cancelOTP()">CANCEL</button>
                        </div>
                      </div>
                    </form>
                </div>
            </div>

      </div>

      <div class="otp_section" style="position: absolute;" *ngIf="otp_page">
        <div>
            <app-enter-otp (otp_cancelEvent)="otp_page=false" [coutDownSecounds]="60" (otp_submitEvent)="otpSubmit()"></app-enter-otp>
        </div>
    </div>
  </div>
</div>
