::ng-deep .mat-drawer-content{
  overflow-y: hidden !important;
}
.main-content{
  height: calc(85vh - 120px);
  overflow-y: hidden;
}

::ng-deep .mat-form-field-underline {
    display: none;
  }

input.pass-input{
    margin-top: 40px;
    border: none;
    width: 90%;
    border-bottom: #737374 1px solid !important;
}

.input-label{
  font-size: 28px;
  color: #000000;
}

mat-card{
    margin: 20px ;
}



.cancel {
  background: #a30303 !important;
  color: #ffffff;
  border-radius: 30px;
  width: 143px;
  font-size: 20px;
  box-shadow: 0px 8px 15px #888888;
  margin: 20px;
}

.change {
  background: #0a7e73 !important;
  color: #ffffff;
  margin-right: 30px;
  border-radius: 30px;
  width: 143px;
  font-size: 20px;
  box-shadow: 0px 8px 15px #888888;
}

.label-input{
  font-size: 25px;
  color: #000;
}

.pointer{
  cursor: pointer;
  opacity: .8;
  transition: .3s;
  position: absolute;
  top: -47px;
  right: 100px;
}
.pointer:hover{
  opacity: 1;
}
.changePswrd-input .mat-form-field-prefix, .mat-form-field-suffix {
  white-space: nowrap;
  flex: none;
  position: relative;
  top: -21px;
  right: 15px;
}

@media screen and (max-width: 1551px){
  .pointer{
    right: 73px !important;
  }
}
