<div class="row mx-2 my-4">
    <h4>Change Password</h4>
  </div>

<mat-card>


  <div class="row mx-1 my-4">
    <div class="col-md-6">
      <br>
      <div class="mb-2">
        <mat-form-field floatLabel="always">
          <mat-label class="input-label">Current Password
        </mat-label>
          <input matInput class="pass-input" placeholder="Enter Current Password
          ">
          <mat-icon matSuffix></mat-icon>
        </mat-form-field>
      </div>
    </div>
  </div>


  
  <div class="row mx-1 my-4">
    <div class="col-md-6">
      <br>
      <div class="mb-2">
        <mat-form-field floatLabel="always">
          <mat-label class="input-label">Create New Password
        </mat-label>
          <input matInput class="pass-input" placeholder="Enter New Password
          ">
          <mat-icon matSuffix></mat-icon>
        </mat-form-field>
      </div>
    </div>
  </div>

  
  <div class="row mx-1 my-4">
    <div class="col-md-6">
      <br>
      <div class="mb-2">
        <mat-form-field floatLabel="always">
          <mat-label class="input-label">Confirm New Password
        </mat-label>
          <input matInput class="pass-input" placeholder="Enter Confirm New Password
          ">
          <mat-icon matSuffix></mat-icon>
        </mat-form-field>
      </div>
    </div>
  </div>

 
  <div class="row mx-1 my-4">
    <div class="button_group text-center">
      <button class="cancel" mat-button [routerLink]="''">CANCEL</button>
      <button class="change" mat-button [routerLink]="''">CHANGE</button>

    </div>
  </div>


</mat-card>
