<div>

    <div class="modal-header">
      <h4 class="text-warning">Assign Backendnumber To Agent</h4>
      <i class="fa fa-close close" aria-hidden="true"></i>
      <img src="assets/img/icon/x.svg" alt="" class="close" (click)="onDismiss()">
    </div>
    <mat-dialog-content class="mat-typography">
      <div class="content_outer">
      <div class="row">
        <div class="my-2 col-12 col-md-6 col-lg-6 ">
            <div>
              <mat-label for="">Transaction Type</mat-label>
            </div>
            <br>
            <mat-select class="select2" disableOptionCentering panelClass="myPanelClass1" placeholder="Select">
              <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="start start" class="filter_select_header"
                fxLayoutAlign="space-between center">
                <div fxLayout="row" fxLayoutAlign="center center" class="filter_text filterRow">
                  <mat-form-field appearance="standard">
                    <input matInput class="select_search_box" placeholder="Enter Keywords">
                  </mat-form-field>
                </div>
              </div>
              <mat-option *ngFor="let transtype of transtypes" [value]="transtype">{{transtype}}</mat-option>
            </mat-select>
        </div>
            
        <div class="my-2 col-12 col-md-6 col-lg-6 ">
                <div>
                  <mat-label for="">Backend Number</mat-label>
                </div>
                <br>
                <mat-select class="select2" disableOptionCentering panelClass="myPanelClass1" placeholder="Select">
                  <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="start start" class="filter_select_header"
                    fxLayoutAlign="space-between center">
                    <div fxLayout="row" fxLayoutAlign="center center" class="filter_text filterRow">
                      <mat-form-field appearance="standard">
                        <input matInput class="select_search_box" placeholder="Enter Keywords">
                      </mat-form-field>
                    </div>
                  </div>
                  <mat-option *ngFor="let backendNo of backendnumbers" [value]="backendNo">{{backendNo}}</mat-option>
                </mat-select>
        </div>
      </div>
      <div class="row">
        <div class="my-2 col-12 col-md-6 col-lg-6 ">
            <br>
            <mat-form-field floatLabel="always">
                <mat-label class="label-input">Name</mat-label>
                <input matInput class="input1" placeholder="Enter Name">
            </mat-form-field>
        </div>

        <div class="my-2 col-12 col-md-6 col-lg-6 ">
            <br>
            <mat-form-field floatLabel="always">
                <mat-label class="label-input">OK Registered Name<span>*</span></mat-label>
                <input matInput class="input1" placeholder="Enter OK Registered Name">
            </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="my-2 col-12 col-md-6 col-lg-6 ">
            <br>
            <mat-form-field floatLabel="always">
                <mat-label class="label-input">Mobile Number</mat-label>
                <input matInput class="input1" placeholder="Enter Mobile Number">
            </mat-form-field>
        </div>
      </div>
      
  
        <div class="button_group  text-center">
          <button class="noBtn" (click)="onDismiss()">Cancel</button>
          <button class="saveBtn" (click)="onDismiss()">Save</button>
        </div>
        
      </div>
    </mat-dialog-content>
  </div>
  