<div class="main-content container-fluid p-3">
  <div class="row">
    <div
      class="py-3 d-block d-md-flex justify-content-between align-items-center"
    >
      <div class="breadcrumbText">
        <span>Edit User Master</span>
      </div>
    </div>
  </div>
  <div class="row py-2">
    <div class="my-2 col-12 col-md-6 col-lg-4">
      <br />
      <mat-form-field floatLabel="always">
        <mat-label class="label-input">User Name<span>*</span></mat-label>
        <input matInput class="input1" placeholder="Enter User Name" />
      </mat-form-field>
    </div>
    <div class="my-2 col-12 col-md-6 col-lg-4">
      <br />
      <mat-form-field floatLabel="always">
        <mat-label class="label-input">User Password<span>*</span></mat-label>
        <input matInput class="input1" placeholder="Enter User Password" />
      </mat-form-field>
    </div>
    <div class="my-2 col-12 col-md-6 col-lg-4">
      <br />
      <mat-form-field floatLabel="always">
        <mat-label class="label-input">Name<span>*</span></mat-label>
        <input matInput class="input1" placeholder="Enter Name" />
      </mat-form-field>
    </div>
  </div>
  <div class="row py-2">
    <div class="my-2 col-12 col-md-6 col-lg-4">
      <div>
        <mat-label for="">Counter No<span>*</span></mat-label>
      </div>
      <br />
      <mat-select
        class="select2"
        multiple
        disableOptionCentering
        panelClass="myPanelClass"
        placeholder="Select"
      >
        <div
          fxLayout="row"
          fxLayout.xs="column"
          fxLayoutAlign.xs="start start"
          class="filter_select_header"
          fxLayoutAlign="space-between center"
        >
          <div
            fxLayout="row"
            fxLayoutAlign="center center"
            class="filter_text filterRow"
          >
            <mat-form-field appearance="standard">
              <input
                matInput
                class="select_search_box"
                placeholder="Enter Keywords"
              />
            </mat-form-field>
          </div>
          <button fxLayout="row" mat-button class="check_uncheck_btn">
            <mat-icon class="secondary-text s-5"> check</mat-icon>Check All
          </button>
          <button fxLayout="row" mat-button class="check_uncheck_btn v-line">
            <mat-icon class="secondary-text s-5"> clear</mat-icon>Uncheck All
          </button>
        </div>
        <mat-option value="1">+95 094212837981</mat-option>
        <mat-option value="2">+95 094208931213</mat-option>
        <mat-option value="3">+95 097989082311</mat-option>
        <mat-option value="4">+95 094212837981</mat-option>
      </mat-select>
    </div>
    <div class="my-2 col-12 col-md-6 col-lg-4">
      <br />
      <mat-form-field floatLabel="always">
        <mat-label class="label-input">User Email<span>*</span></mat-label>
        <input matInput class="input1" placeholder="Enter User Email" />
      </mat-form-field>
    </div>
    <div class="my-2 col-12 col-md-6 col-lg-4">
      <div>
        <mat-label for=""> Company Name<span>*</span></mat-label>
      </div>
      <br />
      <mat-select
        class="select2"
        disableOptionCentering
        panelClass="myPanelClass1"
        placeholder="Select"
      >
        <div
          fxLayout="row"
          fxLayout.xs="column"
          fxLayoutAlign.xs="start start"
          class="filter_select_header"
          fxLayoutAlign="space-between center"
        >
          <div
            fxLayout="row"
            fxLayoutAlign="center center"
            class="filter_text filterRow"
          >
            <mat-form-field appearance="standard">
              <input
                matInput
                class="select_search_box"
                placeholder="Enter Keywords"
              />
            </mat-form-field>
          </div>
        </div>
        <mat-option>Internet Wallet Myanmar Limited</mat-option>
        <mat-option>One Stop Mart Tarmwe</mat-option>
        <mat-option>One Stop Mart North Dagon</mat-option>
        <mat-option>One Stop Mart Insein</mat-option>
      </mat-select>
    </div>
  </div>
  <div class="row py-2">
    <div class="my-2 col-12 col-md-6 col-lg-4">
      <div>
        <mat-label for=""> User Type<span>*</span></mat-label>
      </div>
      <br />
      <mat-select
        class="select2"
        disableOptionCentering
        panelClass="myPanelClass1"
        placeholder="Select"
      >
        <mat-option value="1">Admin</mat-option>
        <mat-option value="2">User</mat-option>
      </mat-select>
    </div>
    <div class="my-2 col-12 col-md-6 col-lg-4">
      <div>
        <mat-label for=""> Upload Profile Image<span>*</span></mat-label>
      </div>
      <br />
      <div class="uploadDiv">
        <label for="inputTag" class="labelDiv">
          <span class="fileuploadLabel"
            >Upload Profile Image (.jpg/ Max Size 5 MB)</span
          >
          <br />
          <input
            accept=".jpg"
            id="inputTag"
            type="file"
            (change)="onSelectFileUpload($event)"
          />
        </label>
        <mat-icon matSuffix class="upload">folder_open</mat-icon>
      </div>
    </div>
    <div class="col-md-4 profileImage">
      <img
        [src]="url"
        alt="Profile Picture"
        style="width: 100px !important; border-radius: 50%; height: 100px"
      />
      <br />
      <span>Remove Profile Image</span>
    </div>
  </div>
  <div class="row py-2">
    <div class="col-md-4">
      <div class="checkbox-group">
        <input
          type="checkbox"
          id="Is Active"
          name="active"
          value="active"
          checked
          class="activeCheckBox"
        />
        <label for="Is Active">Is Active</label>
      </div>
    </div>
  </div>
</div>
<mat-toolbar>
  <div class="button_group" style="line-height: 20px">
    <button
      class="noBtn"
      mat-button
      [routerLink]="'/user-role-master/company-listing'"
    >
      Cancel
    </button>
    <button
      class="yesBtn m-0"
      mat-button
      [routerLink]="'/user-role-master/company-listing'"
    >
      Save
    </button>
  </div>
</mat-toolbar>
