<div>
  <div class="modal-header">
    <h4 class="mb-0" style="color: #fad110">Filter</h4>
    <mat-icon (click)="onDismiss()" style="cursor: pointer">clear</mat-icon>
    <!--    <img src="assets/img/icon/x.svg" alt="" class="close" (click)="onDismiss()">-->
  </div>
  <mat-dialog-content class="mat-typography">
    <div class="content_outer">
      <div class="row rowMargin mt-3">
        <div class="col-md-6">
          <div>
            <label for="">Company Name</label>
          </div>
          <br />
          <div fxLayout="row wrap">
            <mat-select
              class="select2"
              multiple
              disableOptionCentering
              panelClass="myPanelClass"
              placeholder="Select"
            >
              <div
                fxLayout="row"
                fxLayout.xs="column"
                fxLayoutAlign.xs="start start"
                class="filter_select_header"
                fxLayoutAlign="space-between center"
              >
                <div
                  fxLayout="row"
                  fxLayoutAlign="center center"
                  class="filter_text"
                >
                  <!-- <mat-label class="label">Filter:</mat-label> -->
                  <mat-form-field appearance="standard">
                    <input
                      matInput
                      class="select_search_box"
                      placeholder="Enter Keywords"
                    />
                  </mat-form-field>
                </div>
                <button fxLayout="row" mat-button class="check_uncheck_btn">
                  <mat-icon class="secondary-text s-5"> check</mat-icon>Check
                  All
                </button>
                <button
                  fxLayout="row"
                  mat-button
                  class="check_uncheck_btn v-line"
                >
                  <mat-icon class="secondary-text s-5"> clear</mat-icon>Uncheck
                  All
                </button>
              </div>
              <mat-option value="1">Internet Wallet Myanmar</mat-option>
              <mat-option value="2">One Stop Mart Insein</mat-option>
              <mat-option value="3">One Stop Mart Tarmwe</mat-option>
              <mat-option value="3">One Stop Mart Tarmwe</mat-option>
              <mat-option value="3">One Stop Mart Tarmwe</mat-option>
              <mat-option value="3">One Stop Mart Tarmwe</mat-option>
              <mat-option value="4">One Stop Mart North Dagon</mat-option>
            </mat-select>
          </div>
        </div>
        <div class="col-md-6">
          <div>
            <label for="">Dummy Merchant Name</label>
          </div>
          <br />
          <div fxLayout="row wrap">
            <mat-select
              class="select2"
              multiple
              disableOptionCentering
              panelClass="myPanelClass"
              placeholder="Select"
            >
              <div
                fxLayout="row"
                fxLayout.xs="column"
                fxLayoutAlign.xs="start start"
                class="filter_select_header"
                fxLayoutAlign="space-between center"
              >
                <div
                  fxLayout="row"
                  fxLayoutAlign="center center"
                  class="filter_text"
                >
                  <!-- <mat-label class="label">Filter:</mat-label> -->
                  <mat-form-field appearance="standard">
                    <input
                      matInput
                      class="select_search_box"
                      placeholder="Enter Keywords"
                    />
                  </mat-form-field>
                </div>
                <button fxLayout="row" mat-button class="check_uncheck_btn">
                  <mat-icon class="secondary-text s-5"> check</mat-icon>Check
                  All
                </button>
                <button
                  fxLayout="row"
                  mat-button
                  class="check_uncheck_btn v-line"
                >
                  <mat-icon class="secondary-text s-5"> clear</mat-icon>Uncheck
                  All
                </button>
              </div>
              <mat-option value="1">Aung Myo</mat-option>
              <mat-option value="2">Shwe Sin</mat-option>
              <mat-option value="3">Aung Kyaw</mat-option>
              <mat-option value="4">Nandar Oo</mat-option>
            </mat-select>
          </div>
        </div>
      </div>

      <div class="row rowMargin mt-3">
        <div class="col-md-6">
          <div>
            <label for="">Dummy Merchant Number</label>
          </div>
          <br />
          <div fxLayout="row wrap">
            <mat-select
              class="select2"
              multiple
              disableOptionCentering
              panelClass="myPanelClass"
              placeholder="Select"
            >
              <div
                fxLayout="row"
                fxLayout.xs="column"
                fxLayoutAlign.xs="start start"
                class="filter_select_header"
                fxLayoutAlign="space-between center"
              >
                <div
                  fxLayout="row"
                  fxLayoutAlign="center center"
                  class="filter_text"
                >
                  <!-- <mat-label class="label">Filter:</mat-label> -->
                  <mat-form-field appearance="standard">
                    <input
                      matInput
                      class="select_search_box"
                      placeholder="Enter Keywords"
                    />
                  </mat-form-field>
                </div>
                <button fxLayout="row" mat-button class="check_uncheck_btn">
                  <mat-icon class="secondary-text s-5"> check</mat-icon>Check
                  All
                </button>
                <button
                  fxLayout="row"
                  mat-button
                  class="check_uncheck_btn v-line"
                >
                  <mat-icon class="secondary-text s-5"> clear</mat-icon>Uncheck
                  All
                </button>
              </div>
              <mat-option value="1">+95 0942097981</mat-option>
              <mat-option value="2">+95 0979097291</mat-option>
              <mat-option value="3">+95 0997097213</mat-option>
              <mat-option value="4">+95 0942097981</mat-option>
            </mat-select>
          </div>
        </div>
        <div class="col-md-6">
          <div>
            <label for="">Advance Merchant Number</label>
          </div>
          <br />
          <div fxLayout="row wrap">
            <mat-select
              class="select2"
              multiple
              disableOptionCentering
              panelClass="myPanelClass"
              placeholder="Select"
            >
              <div
                fxLayout="row"
                fxLayout.xs="column"
                fxLayoutAlign.xs="start start"
                class="filter_select_header"
                fxLayoutAlign="space-between center"
              >
                <div
                  fxLayout="row"
                  fxLayoutAlign="center center"
                  class="filter_text"
                >
                  <!-- <mat-label class="label">Filter:</mat-label> -->
                  <mat-form-field appearance="standard">
                    <input
                      matInput
                      class="select_search_box"
                      placeholder="Enter Keywords"
                    />
                  </mat-form-field>
                </div>
                <button fxLayout="row" mat-button class="check_uncheck_btn">
                  <mat-icon class="secondary-text s-5"> check</mat-icon>Check
                  All
                </button>
                <button
                  fxLayout="row"
                  mat-button
                  class="check_uncheck_btn v-line"
                >
                  <mat-icon class="secondary-text s-5"> clear</mat-icon>Uncheck
                  All
                </button>
              </div>
              <mat-option value="1">+95 0942097981</mat-option>
              <mat-option value="2">+95 0979097291</mat-option>
              <mat-option value="3">+95 0997097213</mat-option>
              <mat-option value="4">+95 0942097981</mat-option>
            </mat-select>
          </div>
        </div>
      </div>

      <div class="row rowMargin mt-3">
        <div class="col-md-6">
          <div>
            <label for="">Father Name</label>
          </div>
          <br />
          <div fxLayout="row wrap">
            <mat-select
              class="select2"
              multiple
              disableOptionCentering
              panelClass="myPanelClass"
              placeholder="Select"
            >
              <div
                fxLayout="row"
                fxLayout.xs="column"
                fxLayoutAlign.xs="start start"
                class="filter_select_header"
                fxLayoutAlign="space-between center"
              >
                <div
                  fxLayout="row"
                  fxLayoutAlign="center center"
                  class="filter_text"
                >
                  <!-- <mat-label class="label">Filter:</mat-label> -->
                  <mat-form-field appearance="standard">
                    <input
                      matInput
                      class="select_search_box"
                      placeholder="Enter Keywords"
                    />
                  </mat-form-field>
                </div>
                <button fxLayout="row" mat-button class="check_uncheck_btn">
                  <mat-icon class="secondary-text s-5"> check</mat-icon>Check
                  All
                </button>
                <button
                  fxLayout="row"
                  mat-button
                  class="check_uncheck_btn v-line"
                >
                  <mat-icon class="secondary-text s-5"> clear</mat-icon>Uncheck
                  All
                </button>
              </div>
              <mat-option value="1">U Myo</mat-option>
              <mat-option value="2">U Ye Naing</mat-option>
              <mat-option value="3">U Aung Ko</mat-option>
              <mat-option value="4">U Tin Tun</mat-option>
            </mat-select>
          </div>
        </div>
        <div class="col-md-6">
          <div>
            <label for="">Father Name</label>
          </div>
          <br />
          <div fxLayout="row wrap">
            <mat-select
              class="select2"
              multiple
              disableOptionCentering
              panelClass="myPanelClass"
              placeholder="Select"
            >
              <div
                fxLayout="row"
                fxLayout.xs="column"
                fxLayoutAlign.xs="start start"
                class="filter_select_header"
                fxLayoutAlign="space-between center"
              >
                <div
                  fxLayout="row"
                  fxLayoutAlign="center center"
                  class="filter_text"
                >
                  <!-- <mat-label class="label">Filter:</mat-label> -->
                  <mat-form-field appearance="standard">
                    <input
                      matInput
                      class="select_search_box"
                      placeholder="Enter Keywords"
                    />
                  </mat-form-field>
                </div>
                <button fxLayout="row" mat-button class="check_uncheck_btn">
                  <mat-icon class="secondary-text s-5"> check</mat-icon>Check
                  All
                </button>
                <button
                  fxLayout="row"
                  mat-button
                  class="check_uncheck_btn v-line"
                >
                  <mat-icon class="secondary-text s-5"> clear</mat-icon>Uncheck
                  All
                </button>
              </div>
              <mat-option value="1">Phone Shop</mat-option>
              <mat-option value="2">Bank</mat-option>
              <mat-option value="3">Wholesales</mat-option>
              <mat-option value="4">Convenience Store</mat-option>
            </mat-select>
          </div>
        </div>
      </div>

      <div class="row rowMargin mt-3">
        <div class="col-md-6">
          <div>
            <label for="">Status</label>
          </div>
          <br />
          <mat-select
            class="select2"
            disableOptionCentering
            panelClass="myPanelClass1"
            placeholder="Select"
          >
            <mat-option value="1">Checking</mat-option>
            <mat-option value="2">Register</mat-option>
          </mat-select>
        </div>
      </div>
    </div>
  </mat-dialog-content>
  <mat-toolbar class="d-flex justify-content-center">
    <div class="button_group text-center">
      <button class="reset">RESET</button>
      <button class="apply">APPLY</button>
    </div>
  </mat-toolbar>
</div>
