<div class="main-content container-fluid p-3">
  <div class="row">
    <div style="border-bottom: 1px solid #D4D6D8;">
      <button mat-raised-button class="menu-NavBar nav-active" [routerLink]="'../../approveConfig'">Register New User</button>
      <button mat-raised-button class="menu-NavBar" [routerLink]="'../device-authorization-list'">Device Authorization</button>
      <button mat-raised-button class="menu-NavBar" [routerLink]="'../transaction-amount-list'">Transaction Amount</button>
    </div>
    <div class="py-3 d-block  d-md-flex justify-content-between align-items-center">
      <div class="breadcrumbText">
        <span class="backBreadCrumb" [routerLink]="'../../approveConfig'">Approval Configuration</span>
        <span> > </span>
        <span>Edit Register New User</span>
      </div>
    </div>
  </div>
  <div class="row py-2">
    <div class="my-2 col-12 col-md-6 col-lg-4 ">
      <div>
        <mat-label for=""> Company Name<span>*</span></mat-label>
      </div>
      <br>
      <mat-select class="select2" disableOptionCentering panelClass="myPanelClass1" placeholder="Select">
        <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="start start" class="filter_select_header"
             fxLayoutAlign="space-between center">
          <div fxLayout="row" fxLayoutAlign="center center" class="filter_text filterRow">
            <mat-form-field appearance="standard">
              <input matInput class="select_search_box" placeholder="Enter Keywords">
            </mat-form-field>
          </div>
        </div>
        <mat-option>Consumer Good Myanmar Company </mat-option>
        <mat-option>CGM Myanmar</mat-option>
      </mat-select>
    </div>
    <div class="my-2 col-12 col-md-6 col-lg-4 ">
      <div>
        <mat-label for="">Shop Name <span>*</span></mat-label>
      </div>
      <br>
      <mat-select class="select2" multiple disableOptionCentering panelClass="myPanelClass" placeholder="Select">
        <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="start start" class="filter_select_header"
             fxLayoutAlign="space-between center">
          <div fxLayout="row" fxLayoutAlign="center center" class="filter_text filterRow">
            <mat-form-field appearance="standard">
              <input matInput class="select_search_box" placeholder="Enter Keywords">
            </mat-form-field>
          </div>
          <button fxLayout="row" mat-button class="check_uncheck_btn">
            <mat-icon class="secondary-text s-5">
              check</mat-icon>Check All
          </button>
          <button fxLayout="row" mat-button class="check_uncheck_btn v-line">
            <mat-icon class="secondary-text s-5">
              clear</mat-icon>Uncheck All
          </button>
        </div>
        <mat-option value=1>0054 Myin Thar</mat-option>
        <mat-option value=2>0021 Shwe Bon Thar</mat-option>
        <mat-option value=3>0056 Bo Aung Kyaw</mat-option>
        <mat-option value=9>0068 Nadarwon</mat-option>
      </mat-select>
    </div>
    <div class="my-2 col-12 col-md-6 col-lg-4 ">
      <div>
        <mat-label for="">Assign Type<span>*</span></mat-label>
      </div>
      <br>
      <mat-select class="select2" disableOptionCentering panelClass="myPanelClass1" placeholder="Select">
        <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="start start" class="filter_select_header"
             fxLayoutAlign="space-between center">
          <div fxLayout="row" fxLayoutAlign="center center" class="filter_text filterRow">
            <mat-form-field appearance="standard">
              <input matInput class="select_search_box" placeholder="Enter Keywords">
            </mat-form-field>
          </div>
        </div>
        <mat-option value=1>All Counter</mat-option>
        <mat-option value=2>Special Counter</mat-option>
      </mat-select>
    </div>
  </div>
  <div class="row py-2">
    <div class="my-2 col-12 col-md-6 col-lg-4 ">
      <div>
        <mat-label for="">Counter No<span>*</span></mat-label>
      </div>
      <br>
      <mat-select class="select2" multiple disableOptionCentering panelClass="myPanelClass" placeholder="Select">
        <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="start start" class="filter_select_header"
             fxLayoutAlign="space-between center">
          <div fxLayout="row" fxLayoutAlign="center center" class="filter_text filterRow">
            <mat-form-field appearance="standard">
              <input matInput class="select_search_box" placeholder="Enter Keywords">
            </mat-form-field>
          </div>
          <button fxLayout="row" mat-button class="check_uncheck_btn">
            <mat-icon class="secondary-text s-5">
              check</mat-icon>Check All
          </button>
          <button fxLayout="row" mat-button class="check_uncheck_btn v-line">
            <mat-icon class="secondary-text s-5">
              clear</mat-icon>Uncheck All
          </button>
        </div>
        <mat-option value=1>1</mat-option>
        <mat-option value=2>2</mat-option>
        <mat-option value=3>3</mat-option>
        <mat-option value=4>4</mat-option>
      </mat-select>
    </div>
    <div class="my-2 col-12 col-md-6 col-lg-4 ">
      <div>
        <mat-label for=""> Approval User Name<span>*</span></mat-label>
      </div>
      <br>
      <mat-select class="select2" disableOptionCentering panelClass="myPanelClass1" placeholder="Select">
        <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="start start" class="filter_select_header"
             fxLayoutAlign="space-between center">
          <div fxLayout="row" fxLayoutAlign="center center" class="filter_text filterRow">
            <mat-form-field appearance="standard">
              <input matInput class="select_search_box" placeholder="Enter Keywords">
            </mat-form-field>
          </div>
        </div>
        <mat-option>Aung Myo</mat-option>
        <mat-option>Shwe Sin</mat-option>
        <mat-option>Myo Min</mat-option>
        <mat-option>Maung Maung</mat-option>
      </mat-select>
    </div>
    <div class="my-2 col-12 col-md-6 col-lg-4 ">
      <br>
      <mat-form-field floatLabel="always">
        <mat-label class="label-input">Approval User's Mobile Number<span>*</span></mat-label>
        <input matInput class="input1" placeholder="Enter Mobile Number">
      </mat-form-field>
    </div>
  </div>
  <div class="row py-2">
    <div class="my-2 col-12 col-md-6 col-lg-4 ">
      <br>
      <mat-form-field floatLabel="always">
        <mat-label class="label-input">Approval User's Email</mat-label>
        <input matInput class="input1" placeholder="Enter User Email">
      </mat-form-field>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-4">
      <input type="checkbox" name="active" value="active" checked class="activeCheckBox">
      <label for="Is Active">Is Active</label>
    </div>
  </div>
</div>
<mat-toolbar>
  <div class="button_group">
    <button class="noBtn" mat-button [routerLink]="'../../approveConfig'">Cancel</button>
    <button class="yesBtn" mat-button  [routerLink]="'../../approveConfig'">Save</button>
  </div>
</mat-toolbar>
