<div class="container-fluid p-3">
   <mat-card>
   <div class="d-flex justify-content-between align-items-center pb-2">
      <h4>User Profile</h4>
    </div>
   <div class="row m-3">
       <div class="col-12 col-md-2">
         <div class="profile-img">
            <img src="../../../../assets/img/images/profile-pic.jpg" style="height: 150px;border-radius: 50%;">
         </div>
       </div>

       <div class="col-12 col-md-10">
         <div class="text-left">
            <h5>Nangauto</h5>
            <p class="label">Password</p>
            <h5>password</h5>
            <p class="label">Mobile Number</p>
            <h5>+959 421 556 789</h5>
            <p class="label">Company Name</p>
            <h5>Consumer Good Myanmar</h5>
            <p class="label">Department</p>
            <h5>Account Department,Sale Department</h5>
            <p class="label">Designation</p>
            <h5>Accountant,Sales</h5>
            <p class="label">User Type</p>
            <h5>Admin</h5>
            <p class="label">Transaction Type</p>
            <h5>Email,SMS Stop</h5>
            <p class="label">Description</p>
            <h5> - </h5>
         </div>

       </div>
       <hr>
   </div>
   
   <div class="row m-3">
      <div class="col-12">
         <div class="text-left">
            <h4>User Role Permission</h4>
            <p class="label">Email</p>
            <h5>View & Download,Create & Upload</h5>
            <p class="label">SMS Stop</p>
            <h5>View</h5>
            
         </div>
      </div>
      <hr>
   </div>
</mat-card>
</div>
