<div>

  <div class="modal-header">
    <h4 class="mb-0 text-white">Filter</h4>
    <i class="fa fa-close close" aria-hidden="true"></i>
    <img src="assets/img/icon/x.svg" alt="" class="close" (click)="onDismiss()">
  </div>
  <mat-dialog-content class="mat-typography">
    <div class="content_outer">
      <div>
        <label for="">Select Period Date</label>
      </div>
      <div class="row rowMargin">
        <div class="col-xs-12 col-12 col-md-6 ">
          <div>

            <input type="text" placeholder="From Date - To Date" class="form-control datepicker" bsDaterangepicker
                   [bsConfig]="{ customTodayClass:'custom-today-class', isAnimated: true, rangeInputFormat : 'ddd,DD-MMM-YYYY', dateInputFormat: 'ddd,DD-MMM-YYYY',showPreviousMonth: true ,showWeekNumbers: false}"
                   [maxDate]="maxDate">
            <mat-icon class="float-end" style="margin-top:-45px;margin-right:75px;">date_range</mat-icon>
          </div>
        </div>
      </div>
      <div class="row rowMargin  mt-3">
        <div class="col-md-6">
          <div>
            <label for="">Select Company Name</label>
          </div>
          <div fxLayout="row wrap">
            <mat-select class="select2" multiple disableOptionCentering panelClass="myPanelClass" placeholder="Select">
              <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="start start" class="filter_select_header"
                   fxLayoutAlign="space-between center">
                <div fxLayout="row" fxLayoutAlign="center center" class="filter_text">
                  <!-- <mat-label class="label">Filter:</mat-label> -->
                  <mat-form-field appearance="standard">
                    <input matInput class="select_search_box" placeholder="Enter Keywords">
                  </mat-form-field>
                </div>
                <button fxLayout="row" mat-button class="check_uncheck_btn">
                  <mat-icon class="secondary-text s-5">
                    check</mat-icon>Check All
                </button>
                <button fxLayout="row" mat-button class="check_uncheck_btn v-line">
                  <mat-icon class="secondary-text s-5">
                    clear</mat-icon>Uncheck All
                </button>
              </div>
              <mat-option value="">Consumer Good Myanmar Company </mat-option>
              <mat-option value="">CGM Myanmar</mat-option>
            </mat-select>
          </div>
        </div>
        <div class="col-md-6">
          <div>
            <label for="">Select Shop Name</label>
          </div>

          <div fxLayout="row wrap">
            <mat-select class="select2" multiple disableOptionCentering panelClass="myPanelClass" placeholder="Select">
              <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="start start" class="filter_select_header"
                   fxLayoutAlign="space-between center">
                <div fxLayout="row" fxLayoutAlign="center center" class="filter_text">
                  <!-- <mat-label class="label">Filter:</mat-label> -->
                  <mat-form-field appearance="standard">
                    <input matInput class="select_search_box" placeholder="Enter Keywords">
                  </mat-form-field>
                </div>
                <button fxLayout="row" mat-button class="check_uncheck_btn">
                  <mat-icon class="secondary-text s-5">
                    check</mat-icon>Check All
                </button>
                <button fxLayout="row" mat-button class="check_uncheck_btn v-line">
                  <mat-icon class="secondary-text s-5">
                    clear</mat-icon>Uncheck All
                </button>
              </div>
              <mat-option value=1>0054 Myin Thar</mat-option>
              <mat-option value=2>0021 Shwe Bon Thar</mat-option>
              <mat-option value=3>0056 Bo Aung Kyaw</mat-option>
              <mat-option value=9>0068 Nadarwon</mat-option>
            </mat-select>
          </div>

        </div>
      </div>

      <div class="row rowMargin mt-3">
        <div class="col-md-6">
          <div>
            <label for="">Select Counter</label>
          </div>
          <div fxLayout="row wrap">
            <mat-select class="select2" multiple disableOptionCentering panelClass="myPanelClass" placeholder="Select">
              <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="start start" class="filter_select_header"
                   fxLayoutAlign="space-between center">
                <button fxLayout="row" mat-button class="check_uncheck_btn">
                  <mat-icon class="secondary-text s-5">
                    check</mat-icon>Check All
                </button>
                <button fxLayout="row" mat-button class="check_uncheck_btn v-line">
                  <mat-icon class="secondary-text s-5">
                    clear</mat-icon>Uncheck All
                </button>
              </div>
              <mat-option value=1>Yes</mat-option>
              <mat-option value=2>No</mat-option>
            </mat-select>
          </div>
        </div>
        <div class="col-md-6">
          <div>
            <label for="">Select Counter Number</label>
          </div>

          <div fxLayout="row wrap">
            <mat-select class="select2" multiple disableOptionCentering panelClass="myPanelClass" placeholder="Select">
              <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="start start" class="filter_select_header"
                   fxLayoutAlign="space-between center">
                <div fxLayout="row" fxLayoutAlign="center center" class="filter_text">
                  <!-- <mat-label class="label">Filter:</mat-label> -->
                  <mat-form-field appearance="standard">
                    <input matInput class="select_search_box" placeholder="Enter Keywords">
                  </mat-form-field>
                </div>
                <button fxLayout="row" mat-button class="check_uncheck_btn">
                  <mat-icon class="secondary-text s-5">
                    check</mat-icon>Check All
                </button>
                <button fxLayout="row" mat-button class="check_uncheck_btn v-line">
                  <mat-icon class="secondary-text s-5">
                    clear</mat-icon>Uncheck All
                </button>
              </div>
              <mat-option value=1>1</mat-option>
              <mat-option value=2>2</mat-option>
              <mat-option value=3>3</mat-option>
              <mat-option value=4>4</mat-option>
            </mat-select>
          </div>

        </div>
      </div>

      <div class="row rowMargin mt-3">
        <div class="col-md-6">
          <div>
            <label for="">Select Approval User Mobile Number</label>
          </div>
          <div fxLayout="row wrap">
            <mat-select class="select2" multiple disableOptionCentering panelClass="myPanelClass" placeholder="Select">
            <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="start start" class="filter_select_header"
                   fxLayoutAlign="start">
                 <div fxLayout="row" fxLayoutAlign="center center" class="filter_text">
                  <mat-form-field appearance="standard">
                    <input matInput class="select_search_box" panelClass="myPanelClass1" disableOptionCentering
                      placeholder="Enter Keyword">
                  </mat-form-field>
                </div>
                <button fxLayout="row" mat-button class="check_uncheck_btn">
                  <mat-icon class="secondary-text s-5">
                    check</mat-icon>Check All
                </button>
                <button fxLayout="row" mat-button class="check_uncheck_btn v-line">
                  <mat-icon class="secondary-text s-5">
                    clear</mat-icon>Uncheck All
                </button>
              </div>
              <mat-option value=1>+95 945482521</mat-option>
              <mat-option value=2>+95 958562448</mat-option>
              <mat-option value=3>+95 945856625</mat-option>
            </mat-select>
          </div>
        </div>
        <div class="col-md-6">
          <div>
            <label for="">Select Approval User Email</label>
          </div>
          <div fxLayout="row wrap">
            <mat-select class="select2" multiple disableOptionCentering panelClass="myPanelClass" placeholder="Select">
              <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="start start" class="filter_select_header"
                   fxLayoutAlign="space-between center">
                <div fxLayout="row" fxLayoutAlign="center center" class="filter_text">
                  <!-- <mat-label class="label">Filter:</mat-label> -->
                  <mat-form-field appearance="standard">
                    <input matInput class="select_search_box" placeholder="Enter Keywords">
                  </mat-form-field>
                </div>
                <button fxLayout="row" mat-button class="check_uncheck_btn">
                  <mat-icon class="secondary-text s-5">
                    check</mat-icon>Check All
                </button>
                <button fxLayout="row" mat-button class="check_uncheck_btn v-line">
                  <mat-icon class="secondary-text s-5">
                    clear</mat-icon>Uncheck All
                </button>
              </div>
              <mat-option value=1>aungmyo@gmail.com</mat-option>
              <mat-option value=2>shwesin@gmail.com</mat-option>
              <mat-option value=3>myomyin@gmail.com</mat-option>
            </mat-select>
          </div>
        </div>
      </div>

      <div class="row rowMargin mt-3">
        <div class="col-md-6">
          <div>
            <label for="">Select Is Active</label>
          </div>
          <div fxLayout="row wrap">
            <mat-select class="select2" multiple disableOptionCentering panelClass="myPanelClass" placeholder="Select">
              <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="start start" class="filter_select_header"
                   fxLayoutAlign="space-between center">
                <div fxLayout="row" fxLayoutAlign="center center" class="filter_text">
                  <!-- <mat-label class="label">Filter:</mat-label> -->
                  <mat-form-field appearance="standard">
                    <input matInput class="select_search_box" placeholder="Enter Keywords">
                  </mat-form-field>
                </div>
                <button fxLayout="row" mat-button class="check_uncheck_btn">
                  <mat-icon class="secondary-text s-5">
                    check</mat-icon>Check All
                </button>
                <button fxLayout="row" mat-button class="check_uncheck_btn v-line">
                  <mat-icon class="secondary-text s-5">
                    clear</mat-icon>Uncheck All
                </button>
              </div>
              <mat-option value=1>Yes</mat-option>
              <mat-option value=2>No</mat-option>
            </mat-select>
          </div>
        </div>
      </div>
    </div>
  </mat-dialog-content>
  <mat-toolbar class="justify-content-center">
    <div class="button_group  text-center">
      <button class="reset">RESET</button>
      <button class="apply">APPLY</button>
    </div>
  </mat-toolbar>
</div>
