::placeholder {
  color: rgba(80, 75, 75, 0.87);
  font-size: 14px;
}
::-moz-placeholder {
  color: rgba(80, 75, 75, 0.87);
  font-size: 14px;
}
::-webkit-input-placeholder {
  color: rgba(80, 75, 75, 0.87);
  font-size: 14px;
}
.filter_select_header .filter_text {
  padding: 0 7px;
}
.filter_select_header .check_uncheck_btn {
  font-size: 12px;
  padding: 0 6px;
}
.filter_select_header {
  background: #dfd6c2;
  display: flex;
}
mat-form-field .select_search_box {
  background: #ffffff !important;
  border-radius: 30px !important;
  padding-left: 12px !important;
  border-top: 0 !important;
  padding-bottom: 8px !important;
  padding-top: 4px !important;
  margin-bottom: 0%;
}
.filter_select_header {
  display: flex;
  place-content: start !important;
}

::ng-deep .mat-form-field-underline {
  display: none;
}

.mat-toolbar {
  background-color: #fafafa !important;
  display: block !important;
  text-align: center;
}
mat-label span {
  color: #ff0000 !important;
}
.label-input {
  font-size: larger;
  color: #000;
}
.main-content {
  background-color: #fff !important;
  height: calc(84vh - 60px);
  overflow: auto;
  overflow-x: hidden;
}
