
.login_bg{
    // background-image: url("../../../../assets/images/Background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    // height: 100vh;
    background-size: cover;
}
.login_first_bg {
  width: 56%;
}
input[type=text],input[type=password]{
    height: 50px;
    padding-left: 58px;
    width: 100%;
    border: 2px solid #ffff;
    background: #224193;
    color: white;
    font-weight: 500;
    font-size: 14px;
}

::placeholder{
    color: white;
}

.login_content{
    width: 100%;
    height: 100vh;
    display: flex;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
    // -webkit-box-shadow: 0 0 0 30px $primary-color inset !important;
    background-image: linear-gradient(to top, #5b25aa, #612bb1, #6731b8, #6e36bf, #743cc6) !important;
}
input:-webkit-autofill{
    // -webkit-text-fill-color: white !important;
    background-image: linear-gradient(to top, #5b25aa, #612bb1, #6731b8, #6e36bf, #743cc6);
    background-color: linear-gradient(to top, #5b25aa, #612bb1, #6731b8, #6e36bf, #743cc6);;
}

::placeholder{
    color: white;
}
::-moz-placeholder{
    color: white;
}

.title_color{
    // color: $primary-color;
}
.title_sub{
    // color: $primary-color;
    text-align: center;
    font-size: 35px;
    margin-top: 0;
    margin-bottom: 25px;
}
.login_content{
    margin-right: 200px;
    width: 100%;
    height: 100vh;display: flex;
    align-items: center;
    justify-content: center;
}
.forgot_password{
    text-align: center;
    margin-top: 15px;
    // color: $primary-color;
    font-weight: 500;
    a{
        // color: $primary-color;
    }
}
.login_btn{
    background-color: #0d75ce;
    color: white;
    font-size: 16px;
    height: 50px;
    margin: auto;
    width: 190px;
    border-radius: 200px;
    margin-bottom: 10px;
    cursor: pointer;
    font-weight: 500;
    border: 2px solid #fff;
}
.incorrect_password{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 140px;
    background-color: gray;
    margin-top: 30px;
    color: white;
    // border: 2px solid $primary-color;
}

::ng-deep .btn-secondary{
    position: absolute !important;
    right: 9px;
    top: 12px;
    background: transparent;
    color: white;
    border: none;
}
.btn-secondary:focus, .btn-secondary.focus, .btn-secondary:hover{
    background-color: none !important;
    box-shadow: none !important;
    border-color: unset !important;
    z-index: 4;
}
::ng-deep .btn-secondary:focus, .btn-secondary.focus,.btn:focus, .btn.focus ,.btn-secondary:not(:disabled):not(.disabled):active ,.btn-secondary:hover {
    background-color: transparent !important;
     border-color: unset !important;
     box-shadow: unset !important;
     z-index: 4;
}
.input-group > .form-control:focus{
    z-index: unset !important;
}
::ng-deep input:-internal-autofill-selected {
    background-image: linear-gradient(to top, #5b25aa, #612bb1, #6731b8, #6e36bf, #743cc6) !important;
    color: white;
    background-color: unset !important;
}

::ng-deep .remember_me .mat-checkbox-background{
    // border: 1px solid $primary-color;
}

::ng-deep .remember_me .mat-checkbox-label{
    // color: $primary-color !important;
}
.h_100 {
  height: 100vh;
}

.title_h1 {
  font-size: 60px;
  text-align: center;
  margin: 0;letter-spacing: 3px;
}
.check_box{
  color: #592f95;text-align: center;margin-top: 15px;
}
@media (max-width: 940px) {
  .login_content {
    width: 100%;

  }
}
.show_password {
  color: white;
  position: absolute;
  right: 10px;
  background: transparent;
  top: 12px;
}
button.showHidePassword {
  float: right;
  position: absolute;
  background: none;
  right: 10px;
  top: 10px;
  color: #fff;
}
.cancel_btn{
    background-color: #ff0000;
    border: 2px solid #fff;
    color: white;
    font-size: 16px;
    height: 50px;
    width: 190px;
    border-radius: 200px;
    margin-bottom: 10px;
    cursor: pointer;
    font-weight: 500;
}
.eye{
    position: absolute;
    z-index: 9;
    top: 16px;
    right: 10px;
}
.eyeOpen{
    position: absolute;
    z-index: 9;
    top: 19px;
    right: 14px;
}
@media (max-width: 1551px) {
  .otp_section div{
    margin-right: 20% !important;
  }
  .login_content {
    margin-right: 5%;
  }
}
