<div class="login_bg">

  <div class="d-flex h_100">
      
      <div class="login_content justify-content-center align-items-center justify-content-lg-end" >
          <form action="" [formGroup]="login_form" (ngSubmit)="login()">
              <div class=" me-lg-5 pe-lg-5">
                <div class="">
                  <img src="../../../../assets/img/icon/OK$%20logo%20.svg" class="me-3" alt="" style="width: 120px">
                  <h3 class="d-inline-block fw-bolder fs-1" style="color: #224193">One Stop Mart</h3>
                </div>
                  <div class="login-wrapper">
                    <div class="position-relative text-center" style="margin-top: 30px;">
                          <div (click)="onClick()">
                            <img src="../../../../assets/img/Icon/eye_close.svg" alt="" aria-hidden="true" width="28" *ngIf="!show" class="eye">
                            <img src="../../../../assets/img/Icon/eye_open.svg" alt="" aria-hidden="true" width="20" *ngIf="show" class="eyeOpen">
                          </div>
                          <input [type]="password" placeholder="Enter New Password" autocomplete="off" formControlName="password"/>
                          <div class="input_image_box">
                            <img src="../../../../assets/img/icon/password.svg" alt="" style="width: 20px;">
                        </div>
                      
                    </div>
                    <div class="position-relative text-center" style="margin-top: 30px;">
                          <div (click)="onClick()">
                            <img src="../../../../assets/img/Icon/eye_close.svg" alt="" aria-hidden="true" width="28" *ngIf="!show" class="eye">
                            <img src="../../../../assets/img/Icon/eye_open.svg"  alt="" aria-hidden="true" width="20" *ngIf="show" class="eyeOpen">
                          </div>
                        
                            <input [type]="password"  placeholder="Confirm New Password" autocomplete="off" formControlName="password"/>
                            <div class="input_image_box">
                              <img src="../../../../assets/img/icon/password.svg" alt="" style="width: 20px;">
                            </div>
                        
                    </div>

                  <!-- <div class="incorrect_password">
                      <p>Your Entering Incorrect Password</p>
                  </div> -->
                  <div style="text-align: center;margin-top: 30px;">
                      <button type="submit" class="login_btn" routerLink="/auth/login" >Submit</button>
                  </div>
                  <div style="text-align: center;margin-top: 10px;" >
                    <button  class="cancel_btn" routerLink="/auth/login">CANCEL</button>
                </div>
                  </div>
              </div>
          </form>
      </div>
  </div>
</div>
