

header span{
  padding: 10px 10px;
}
mat-icon{
    margin-top: 10px;
    color: #fff;
}

.heading{
  padding: 10px 10px;
}
.example-container {
    width: 100%;
    height: 100%;
    border: 1px solid rgba(245, 239, 239, 0.5);
  }

  .example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }

  .example-sidenav {
    padding: 20px;
    font-size: 14px;
  }

.mat-list-item-content{
  font-size: 14px;
}

.mat-list-item img{
  width: 20px;
}

.mat-drawer {
  width: 17%;
  padding-right: 0px;
  height: 96%;
}
::ng-deep .mat-menu-panel{
  max-width: 322px !important;
}

@media (max-width: 940px) {
  .mat-drawer {
    width: 75%;
  }

}

