<div>

    <div class="modal-header">
      <h4 class="text-warning">Add Counter Detail</h4>
      <i class="fa fa-close close" aria-hidden="true"></i>
      <img src="assets/img/icon/x.svg" alt="" class="close" (click)="onDismiss()">
    </div>
    <mat-dialog-content class="mat-typography">
      <div class="content_outer">
      <div class="row">
            
            <div class="my-2 col-12 col-md-6 col-lg-4 ">
              <br>
              <mat-form-field floatLabel="always">
                  <mat-label class="label-input">Counter No.<span>*</span></mat-label>
                  <input matInput class="input1" placeholder="Enter Counter No">
              </mat-form-field>
            </div>
            <div class="my-2 col-12 col-md-6 col-lg-4 ">
              <br>
              <mat-form-field floatLabel="always">
                  <mat-label class="label-input">Counter Name<span>*</span></mat-label>
                  <input matInput class="input1" placeholder="Enter Counter Name">
              </mat-form-field>
            </div>
            <div class="my-2 col-12 col-md-6 col-lg-4 ">
                <div>
                  <mat-label for="">Advance Merchant Number(Cash Out)<span>*</span></mat-label>
                </div>
                <br>
                <mat-select class="select2" disableOptionCentering panelClass="myPanelClass1" placeholder="Select">
                  <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="start start" class="filter_select_header"
                    fxLayoutAlign="space-between center">
                    <div fxLayout="row" fxLayoutAlign="center center" class="filter_text filterRow">
                      <mat-form-field appearance="standard">
                        <input matInput class="select_search_box" placeholder="Enter Keywords">
                      </mat-form-field>
                    </div>
                  </div>
                  <mat-option *ngFor="let advanceno of advancenumbers" [value]="advanceno">{{advanceno}}</mat-option>
                </mat-select>
            </div>
      </div>
      
      <div class="row">
        <div class="my-2 col-12 col-md-6 col-lg-4 ">
            <div>
              <mat-label for="">Cash Out Number<span>*</span></mat-label>
            </div>
            <br>
            <mat-select class="select2" disableOptionCentering panelClass="myPanelClass1" placeholder="Select">
              <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="start start" class="filter_select_header"
                fxLayoutAlign="space-between center">
                <div fxLayout="row" fxLayoutAlign="center center" class="filter_text filterRow">
                  <mat-form-field appearance="standard">
                    <input matInput class="select_search_box" placeholder="Enter Keywords">
                  </mat-form-field>
                </div>
              </div>
              <mat-option *ngFor="let cashoutno of cashoutnumbers" [value]="cashoutno">{{cashoutno}}</mat-option>
            </mat-select>
        </div>
          
        <div class="my-2 col-12 col-md-6 col-lg-4">
          <br>
          <mat-form-field floatLabel="always" class="changePswrd-input">
            <mat-label class="label-input">Cash Out Account Password</mat-label>
            <input matInput type="{{hide? 'password' : 'text'}}" class="input1" placeholder="Enter Cash Out Account Password">
            <mat-icon matSuffix  (click)="reveal()" class="pointer eye-icon">{{hide? 'visibility_off' : 'visibility'}}</mat-icon>

          </mat-form-field>
        </div>

          <div class="my-2 col-12 col-md-6 col-lg-4 ">
            <div>
              <mat-label for="">Advance Merchant Number(Pay With OK$)<span>*</span></mat-label>
            </div>
            <br>
            <mat-select class="select2" disableOptionCentering panelClass="myPanelClass1" placeholder="Select">
              <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="start start" class="filter_select_header"
                fxLayoutAlign="space-between center">
                <div fxLayout="row" fxLayoutAlign="center center" class="filter_text filterRow">
                  <mat-form-field appearance="standard">
                    <input matInput class="select_search_box" placeholder="Enter Keywords">
                  </mat-form-field>
                </div>
              </div>
              <mat-option *ngFor="let  ampaywithokdollarno of ampaywithokdollarnumbers" [value]="ampaywithokdollarno">{{ampaywithokdollarno}}</mat-option>
            </mat-select>
         </div>
      </div>

      <div class="row">
            <div class="my-2 col-12 col-md-6 col-lg-4 ">
              <div>
                <mat-label for="">Pay With OK$ Number<span>*</span></mat-label>
              </div>
              <br>
              <mat-select class="select2" disableOptionCentering panelClass="myPanelClass1" placeholder="Select">
                <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="start start" class="filter_select_header"
                  fxLayoutAlign="space-between center">
                  <div fxLayout="row" fxLayoutAlign="center center" class="filter_text filterRow">
                    <mat-form-field appearance="standard">
                      <input matInput class="select_search_box" placeholder="Enter Keywords">
                    </mat-form-field>
                  </div>
                </div>
                <mat-option *ngFor="let  ampaywithokdollarno of ampaywithokdollarnumbers" [value]="ampaywithokdollarno">{{ampaywithokdollarno}}</mat-option>
              </mat-select>
            </div>
          
            <div class="my-2 col-12 col-md-6 col-lg-4">
              <br>
              <mat-form-field floatLabel="always" class="changePswrd-input">
                <mat-label class="label-input">Pay With OK$ Account Password</mat-label>
                <input matInput type="{{hide? 'password' : 'text'}}" class="input1" placeholder="Pay With OK$ Account Password">
                <mat-icon matSuffix  (click)="reveal()" class="pointer eye-icon">{{hide? 'visibility_off' : 'visibility'}}</mat-icon>
    
              </mat-form-field>
            </div>
      </div>
  
        <div class="button_group  text-center">
          <button class="noBtn" (click)="onDismiss()">Cancel</button>
          <button class="saveandsend" (click)="onDismiss()">Add & Continue</button>
        </div>
        
      </div>
    </mat-dialog-content>
  </div>
  