<div>
    <div class="modal-header">
      <h4 class="text-warning">Filter</h4>
      <i class="fa fa-close close" aria-hidden="true"></i>
      <img src="assets/img/icon/x.svg" alt="" class="close" (click)="onDismiss()">
    </div>
    <mat-dialog-content class="mat-typography">
      <div class="content_outer">  
      <div class="row">
 
        <div class="my-2 col-12 col-md-6 col-lg-6 ">
          <div>
            <mat-label for="">Company Name</mat-label>
          </div>
          <br>
          <mat-select class="select2" multiple disableOptionCentering panelClass="myPanelClass" placeholder="Select">
            
            <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="start start" class="filter_select_header"
              fxLayoutAlign="space-between center">
              <div fxLayout="row" fxLayoutAlign="center center" class="filter_text filterRow">
                <mat-form-field appearance="standard">
                  <input matInput class="select_search_box" placeholder="Enter Keywords">
                </mat-form-field>
              </div>
              <button fxLayout="row" mat-button class="check_uncheck_btn">
                <mat-icon class="secondary-text s-5">
                  check</mat-icon>Check All
              </button>
              <button fxLayout="row" mat-button class="check_uncheck_btn v-line">
                <mat-icon class="secondary-text s-5">
                  clear</mat-icon>Uncheck All
              </button>
            </div>
            <mat-option *ngFor="let companyName of companynames" [value]="companyName">{{companyName}}</mat-option>

           
          </mat-select>
        </div>

        <div class="my-2 col-12 col-md-6 col-lg-6 ">
          <div>
            <mat-label for="">Shop Code</mat-label>
          </div>
          <br>
          <mat-select class="select2" multiple disableOptionCentering panelClass="myPanelClass" placeholder="Select">
            
            <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="start start" class="filter_select_header"
              fxLayoutAlign="space-between center">
              <div fxLayout="row" fxLayoutAlign="center center" class="filter_text filterRow">
                <mat-form-field appearance="standard">
                  <input matInput class="select_search_box" placeholder="Enter Keywords">
                </mat-form-field>
              </div>
              <button fxLayout="row" mat-button class="check_uncheck_btn">
                <mat-icon class="secondary-text s-5">
                  check</mat-icon>Check All
              </button>
              <button fxLayout="row" mat-button class="check_uncheck_btn v-line">
                <mat-icon class="secondary-text s-5">
                  clear</mat-icon>Uncheck All
              </button>
            </div>
            <mat-option *ngFor="let shopcode of shopcodes" [value]="shopcode">{{shopcode}}</mat-option>

           
          </mat-select>
        </div>
          
      </div>

      <div class="row">
 
        <div class="my-2 col-12 col-md-6 col-lg-6 ">
          <div>
            <mat-label for="">Shop Name</mat-label>
          </div>
          <br>
          <mat-select class="select2" multiple disableOptionCentering panelClass="myPanelClass" placeholder="Select">
            
            <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="start start" class="filter_select_header"
              fxLayoutAlign="space-between center">
              <div fxLayout="row" fxLayoutAlign="center center" class="filter_text filterRow">
                <mat-form-field appearance="standard">
                  <input matInput class="select_search_box" placeholder="Enter Keywords">
                </mat-form-field>
              </div>
              <button fxLayout="row" mat-button class="check_uncheck_btn">
                <mat-icon class="secondary-text s-5">
                  check</mat-icon>Check All
              </button>
              <button fxLayout="row" mat-button class="check_uncheck_btn v-line">
                <mat-icon class="secondary-text s-5">
                  clear</mat-icon>Uncheck All
              </button>
            </div>
            <mat-option *ngFor="let shopName of shopnames" [value]="shopName">{{shopName}}</mat-option>

           
          </mat-select>
        </div>

        <div class="my-2 col-12 col-md-6 col-lg-6 ">
          <div>
            <mat-label for="">Contact Number</mat-label>
          </div>
          <br>
          <mat-select class="select2" multiple disableOptionCentering panelClass="myPanelClass" placeholder="Select">
            
            <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="start start" class="filter_select_header"
              fxLayoutAlign="space-between center">
              <div fxLayout="row" fxLayoutAlign="center center" class="filter_text filterRow">
                <mat-form-field appearance="standard">
                  <input matInput class="select_search_box" placeholder="Enter Keywords">
                </mat-form-field>
              </div>
              <button fxLayout="row" mat-button class="check_uncheck_btn">
                <mat-icon class="secondary-text s-5">
                  check</mat-icon>Check All
              </button>
              <button fxLayout="row" mat-button class="check_uncheck_btn v-line">
                <mat-icon class="secondary-text s-5">
                  clear</mat-icon>Uncheck All
              </button>
            </div>
            <mat-option *ngFor="let contactNumber of contactNumbers" [value]="contactNumber">{{contactNumber}}</mat-option>

           
          </mat-select>
        </div>
          
      </div>

      <div class="row">
 
        <div class="my-2 col-12 col-md-6 col-lg-6 ">
          <div>
            <mat-label for="">Township</mat-label>
          </div>
          <br>
          <mat-select class="select2" multiple disableOptionCentering panelClass="myPanelClass" placeholder="Select">
            
            <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="start start" class="filter_select_header"
              fxLayoutAlign="space-between center">
              <div fxLayout="row" fxLayoutAlign="center center" class="filter_text filterRow">
                <mat-form-field appearance="standard">
                  <input matInput class="select_search_box" placeholder="Enter Keywords">
                </mat-form-field>
              </div>
              <button fxLayout="row" mat-button class="check_uncheck_btn">
                <mat-icon class="secondary-text s-5">
                  check</mat-icon>Check All
              </button>
              <button fxLayout="row" mat-button class="check_uncheck_btn v-line">
                <mat-icon class="secondary-text s-5">
                  clear</mat-icon>Uncheck All
              </button>
            </div>
            <mat-option *ngFor="let township of townships" [value]="township">{{township}}</mat-option>

           
          </mat-select>
        </div>

        <div class="my-2 col-12 col-md-6 col-lg-6 ">
          <div>
            <mat-label for="">Number of Counters</mat-label>
          </div>
          <br>
          <mat-select class="select2" multiple disableOptionCentering panelClass="myPanelClass" placeholder="Select">
            
            <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="start start" class="filter_select_header"
              fxLayoutAlign="space-between center">
              <div fxLayout="row" fxLayoutAlign="center center" class="filter_text filterRow">
                <mat-form-field appearance="standard">
                  <input matInput class="select_search_box" placeholder="Enter Keywords">
                </mat-form-field>
              </div>
              <button fxLayout="row" mat-button class="check_uncheck_btn">
                <mat-icon class="secondary-text s-5">
                  check</mat-icon>Check All
              </button>
              <button fxLayout="row" mat-button class="check_uncheck_btn v-line">
                <mat-icon class="secondary-text s-5">
                  clear</mat-icon>Uncheck All
              </button>
            </div>
            <mat-option *ngFor="let noOfcounter of noOfcounters" [value]="noOfcounter">{{noOfcounter}}</mat-option>

           
          </mat-select>
        </div>
             
      </div>

      <div class="row">
        <div class="my-2 col-12 col-md-6 col-lg-6 ">
          <div>
            <mat-label for="">Total Number of Users</mat-label>
          </div>
          <br>
          <mat-select class="select2" multiple disableOptionCentering panelClass="myPanelClass" placeholder="Select">
            
            <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="start start" class="filter_select_header"
              fxLayoutAlign="space-between center">
              <div fxLayout="row" fxLayoutAlign="center center" class="filter_text filterRow">
                <mat-form-field appearance="standard">
                  <input matInput class="select_search_box" placeholder="Enter Keywords">
                </mat-form-field>
              </div>
              <button fxLayout="row" mat-button class="check_uncheck_btn">
                <mat-icon class="secondary-text s-5">
                  check</mat-icon>Check All
              </button>
              <button fxLayout="row" mat-button class="check_uncheck_btn v-line">
                <mat-icon class="secondary-text s-5">
                  clear</mat-icon>Uncheck All
              </button>
            </div>
            <mat-option *ngFor="let totalUserNo of totalUserNumbers" [value]="totalUserNo">{{totalUserNo}}</mat-option>

           
          </mat-select>
        </div>
             
      </div>
      </div>
    </mat-dialog-content>
 
    <div class="button_group m-3 text-center">
      <button class="noBtn" (click)="onDismiss()">Cancel</button>
      <button class="apply" (click)="onDismiss()">Apply</button>
    </div>
  </div>
  